@font-face {
  font-family: "authentic_sans90";
  src: url("../public/fonts/authenticsans-90-webfont.woff2") format("woff2"),
    url("../public/fonts/authenticsans-90-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --accent-color: rgb(0, 0, 255);
  --text-color: rgb(29, 32, 31);

  user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "authentic_sans90", sans-serif;
  user-select: none;
}

body {
  overflow: hidden;
  color: var(--text-color);
  animation: pop 2s ease-in;
  height: 100vh;
  width: 100vw;
}
div::-webkit-scrollbar {
  width: 0.25rem;
}

div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(55, 9, 98, 0.3);
}

div::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  outline: 1px solid rgb(0, 0, 0);
}

p {
  font-size: 16px;
}

a,
a:visited,
a:active {
  color: white;
}

p > a:hover {
  font-style: italic;
  cursor: pointer;
}

@media (max-width: 701px) {
  body {
    overflow-y: visible;
  }
}

@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes hide {
  from {
    transform: scale(1);
    visibility: visible;
  }
  to {
    transform: scale(0);
    visibility: hidden;
  }
}
