.flex {
  display: flex;
  flex-direction: column;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Tablet and Smaller Desktop */
@media (max-width: 701px) {
  .grid {
    background-color: black;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    overflow-y: scroll;
    gap: 20px;
    height: 100%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
