.flex {
  display: flex;
  flex-direction: column;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
